.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(21, 54, 74);
    align-items: center;
    height: 60px;
    padding: 0 20px;

    &__logo {
        h5 {
            color: white;
            font-weight: 300;
        }
    }

    .button {
        background-color: rgb(72, 105, 144);
        color: #fff;
    }


}